.LandingPage{
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url("https://i.pinimg.com/originals/a1/4d/e0/a14de021c4fa8049d2d798d5b98d7419.jpg");
    background-position: center;
    background-size:cover ;
    color: white;
    background-attachment: fixed;
}

.page-title{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.container{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}